.DS_Store
npm-debug.log
node_modules
lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts
languageserver/**/*.js
languageserver/**/*.js.map
languageserver/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
!test/tsd.d.ts
roslyn
clr
mono
coreclr
NuGet.exe
vendor/omnisharp-roslyn/
project.lock.json
typings
omnisharp-*/
test/fixture/rtt/
bin/
obj/
types/
