init:
  - git config --global core.autocrlf true
environment:
  nodejs_version: "6"
install:
  - npm install
test_script:
  - node --version && npm --version
  - npm test
build: off
matrix:
  fast_finish: true
notifications:
  - provider: Slack
    auth_token:
      secure: OU7mWtP+JWLRV2Ofq3/QMQbudeN632xLgWb4zMJtOssi2v5HER4qe0GFoj/rnIYOBXd3d/5+glfKG3ijvCU3bA==
    channel: '#atom'
